$text: #0d0e0f;
$background: #f7f8fb;
$primary: #4e68bb;
$secondary: #95a9e7;
$accent: #4b71ec;
$darker-background: #e6e6e6;
$darker-background-hover: #bfbdbd;

$db-selector-height: 3.5rem;
$db-entry-weight: 8ch;
$db-entry-font-size: 1rem;
$db-entry-margin-right: 0.4rem;

